.count-down-timer-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    min-width: 100wh;
    min-height: 100vh;
    border-radius: 20px;
    background-position: center;
    background-size: cover;
}

.count-down-timer-container h1 {
    font-size: 2em;
    font-weight: 700;
    color: var(--color_one);
}

.count-down-timer-container h2 {
    font-size: 1.5em;
    font-weight: 500;
    color: #171F39;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4em;
}

.count-down-timer-container h2 i {
    color: red;
    font-size: 1.8em;
}

.count-down-timer-container h3 {
    font-size: 1.2em;
    color: var(--color_two);
}

.count-down-timer-container h3 i {
    color: var(--color_one);
}

.count-down-timer {
    display: flex;
    gap: 1em;
}

.count-down-timer div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.count-down-timer div p {
    font-size: 3em;
    color: var(--color_one);
}

.count-down-timer div span {
    font-size: 1em;
    color: #808080;
}

.count-down-timer-container img {
    position: absolute;
    width: 200px;
    height: 200px;
    bottom: 10px;
}

.theme-switch-buttons {
    position: absolute;
    top: 1em;
    right: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5em;
}

.theme-button {
    width: 40px;
    height: 40px;
    background-color: pink;
    border-radius: 12px;
    cursor: pointer;
    background-position: center;
    background-size: cover;
}